html, body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000;
    color: #111;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3 {
    color: #eee;
}

a, a:hover, a:active, a:focus {
    color: #585D9A;
}

::selection {
    background: #585D9A;
}
::-moz-selection {
    background: #585D9A;
}

#controlpanels {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: red;
}
#controlpanels .panel-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}
#video-display {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}
#logo {
    position: fixed;
    bottom: 25px;
    left: 10px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4.7rem;
    text-align: center;
    color: #000;
    /*background-color: #000;*/
    opacity: 0.5;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}



#video {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    position: fixed;
}

.slider {
    width: 180px;
    height: 20px;
}


.label {
    display: block;
    margin: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000;
    opacity: 0.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/* new non-WAC controls */
.panel.controls {
    background-color: #000;
    opacity: 0.5;
}
.panel.controls  {
    padding: 5px;
}
.panel.controls h3 {
    font-size: 15px;
}
.panel.controls h4 {
    font-size: 12px;
}
.panel.controls .small {
    display: inline;
    padding: 0.3em;
}
.panel.controls .control {
    display: inline-block;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    width: 50%;
    padding: 0;
}
.panel.controls .control .label {
    width: 30%;
    margin: 0;
    display: inline-block;
    padding: 0 3px 0 0;
    text-align: right;
}
.panel.controls .control input[type="range"] {
    width: 65%;
    display: inline-block;
    height: 0.8em;
    padding: 0;
}

select.midiselect {
    /* background-color: #f0f; */
    padding: 1px 4px 1px 2px;
    color: #999;
    display: inline-block;
    width: 10em;
    height: 1.5em;
}
select.midiselect .option {
    min-height: 1ex;
}

input[type="number"],
input[type="number"]:focus {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 0.65rem;
    width: 4rem;
    height: auto;
    padding: 0.2rem;
    background-color: #000;
    opacity: 0.5;
    color: #eee;
    /*
    border-color: #fff;
    border-radius: 0px;
    */
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




/* colors */
.red {
    background-color: #f00;
}

.green {
    background-color: #0f0;
}

.blue {
    background-color: #00f;
}


#video {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    position: fixed;
}

/* this will be resized by the media.js - so ignore! */
#canvas {
    width: 128px;
    height: 128px;
    display: none;
}


/**
 Scrollbars
 */
 ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(238,238,238,1);
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);*/
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.2);
}

/* color analysis data */
#analysis-panel > div {
    width: 100%;
    display:inline-block;
    background-color: #000;
    opacity: 0.5;
}
#analysis-panel > div > div {
    display: block;
    width: 0;
    height: 10px;
    background-color: #eee;
    margin: 2px;
    opacity: 1;
}

/* tabs */

.tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #ccc;
}
 
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
 
.tabs input[type=radio] {
    display:none;
}
 
.tabs label {
    display: block;
    float: left;
    width: 33.3333%;
 
    color: #ccc;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
 
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
 
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
  
.tabs label span {
    display: none;
}
 
.tabs label i {
    padding: 5px;
    margin-right: 0;
}
 
.tabs label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}
 
.panel-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
  
    background-color:#ffffff;
}

.panel-content * {
 
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
 
@keyframes scale {
 
  0% { 
    transform: scale(0.9);
    opacity: 0;
    }
 
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
 
  100% { 
    transform: scale(1);
    opacity: 1;
  }
 
}

.tabs input:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
 
#info-tab:checked ~ #info-panel,
#input-tab:checked ~ #input-panel,
#output-tab:checked ~ #output-panel,
#iomatrix-tab:checked ~ #iomatrix-panel
{
    display: block;
}