html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000;
    color: #fff;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#video {
    width: 75%;
    position: fixed;
    left: 50%;
    margin: 0 0 0 -37.5%;
    height: 100vh;
    padding: 10px 10px 50px 10px; /* bottom is 10+footer height*/
}

.row.full {
	width: 100%;
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.accordion {
    opacity: 0.9;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.label {
    margin-top: -1px;
    padding: 0;
    background-color: #ccc;
}

.accordion label {
    color: #fff;
}

.slider {
    width: 180px;
    height: 20px;
}

.numberBox {
    padding: 0;
}

.number {
    width: 40px;
    height: 20px;
}

div.row.knob {
    margin-bottom: 20px;
}

.knob_label {
    display: block;
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7rem;
    height: 16px;
    line-height: 16px;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}

input[type="number"] {
    width: 4rem;
    height: auto;
    padding: 0.2rem;
    margin: 0;

    background-color: #dcdcdc;
    color: #808080;

    border-radius: 3px;
}

/* foundation */
.range-slider {
    margin: 0;
}

.button {
    background-color: #dcdcdc;
    border-color: #aaa;
    color: #808080;
}

.button:hover {
    background-color: #808080;
    border-color: #aaa;
    color: #dcdcdc;
}


.button.tiny {
    padding: 0.7rem;
}

/* colors */
.red {
    background-color: #f00;
}

.green {
    background-color: #0f0;
}

.blue {
    background-color: #00f;
}



#info {
    margin-top: 200px;
}

#canvas {
    width: 640px;
    height: 480px;
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #444;
    background-color: #111;
    padding: 10px;
    z-index: 100;
}


    width: 100%;
}


