{% extends 'base.html' %}
{% block main %}
    <div id="background"></div>
    <canvas id="canvas"></canvas>

    <!-- Camera & Info box -->
    <div id="main">
        <div class="row">
            <div class="large-12 columns text-center">

                <div id="info" class="large-12 columns hidden  panel callout radius">
                    <h1 class="info-text"></h1>
                </div>
                <div id="camera-container">
                    <video id="camera" muted autoplay></video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
