{% extends "base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load compress %}
{% block main %}


<section id="app">

    <canvas id="canvas"></canvas>

    <video id="video" muted autoplay></video>

    <h1 id="logo">SYNESTIZER BETA</h1>

    <div class="row full">

        <div id="info" class="large-12 large-centered columns hide text-center">
            <h1 class="info-title">
                Welcome to Synestizer.
            </h1>

            <p class="info-text">
                Please enable your webcam in the browser and activate your loudspeakers.<br />
                This app requires an updated version of <a href="http://www.google.com/chrome/">chrome</a> or <a href="http://www.opera.com">opera</a> browser.<br />
                Firefox will be supported in the future.<br />
                Safari/iOS is not supported.<br />
                <a href="#" data-reveal-id="faq">F.A.Q.</a>
            </p>
        </div>


        <div id="controls" class="hide">
            <div class="sidebar large-3 small-3 medium-3 columns left">

                <div id="patch">
                    <script id="patch_template" type="text/template">
                        <!--<div>Patch: <%= uuid %></div>-->
                        <ul class="button-group" style="height: 45px; padding-left: 2px;">
                            <li><a href="#" id="fullscreen" class="button tiny fi-arrows-out"></a></li>
                            <!--<li><a href="#" id="switchDevices" class="button tiny" title="Switch cam!"><i class="fi-video"></i></a></li>-->
                            <li><a href="#" data-reveal-id="faq" class="button tiny"><i class="fi-info"></i></a></li>
                        </ul>
                    </script>
                </div>

                <div id="faq" class="reveal-modal large" data-reveal>
                    {% include "faq.html" %}
                </div>

                <a href="#" style="background-color: #f0f; padding: 5px; color: #fff;" data-dropdown="midiIn" data-options="is_hover:true; hover_timeout:5000"><span id="midiInDevice">MIDI Controller</span></a>

                <ul id="midiIn" class="f-dropdown" data-dropdown-content></ul>

                <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                        <a href="#rgb-panel">RGB</a>
                        <div id="rgb-panel" class="content active">
                            <div id="average-bars"></div>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="sidebar large-3 medium-3 small-5 columns">
                <!-- SYNTHS -->
                <dl class="accordion scrollable_accordion" data-accordion>
                    <dd class="accordion-navigation">

                        <a href="#triad">Triad</a>

                        <div id="triad" class="content active">

                            <script id="triad_template" type="text/template">

                                <div class="row">
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="triadGain" src="{% static 'img/knob.png' %}"
                                        sprites="100" label="Gain" value="<%= preset.output  %>"
                                        min="0" max="1" step="0.01"></webaudio-knob>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="large-4 small-4 medium-4 columns text-center">
                                        <webaudio-knob id="freq1Knob" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Freq Red" units=" Hz" value="<%= preset.oscFreq1 %>"
                                        min="<%= synth.oscFreq1Min %>" max="<%= synth.oscFreq1Max %>" diameter="48"
                                        step="1"></webaudio-knob>
                                        <input id="freq1Numberbox" type="number" value="<%= preset.oscFreq1 %>" min="<%= synth.oscFreq1Min %>" max="<%= synth.oscFreq1Max %>" />
                                    </div>
                                    <div class="large-4 small-4 medium-4 columns">
                                        <webaudio-knob id="freq2Knob" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Freq Green" units=" Hz" value="<%= preset.oscFreq2 %>"
                                        min="<%= synth.oscFreq2Min %>" max="<%= synth.oscFreq2Max %>" diameter="48"
                                        step="1"></webaudio-knob>
                                        <input id="freq2Numberbox" type="number" value="<%= preset.oscFreq2 %>" min="<%= synth.oscFreq2Min %>" max="<%= synth.oscFreq2Max %>" />
                                    </div>
                                    <div class="large-4 small-4 medium-4 columns">
                                        <webaudio-knob id="freq3Knob" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Freq Blue" units=" Hz" value="<%= preset.oscFreq3 %>"
                                        min="<%= synth.oscFreq3Min %>" max="<%= synth.oscFreq3Max %>" diameter="48"
                                        step="1"></webaudio-knob>
                                        <input id="freq3Numberbox" type="number" value="<%= preset.oscFreq3 %>" min="<%= synth.oscFreq3Min %>" max="<%= synth.oscFreq3Max %>" />
                                    </div>



                                </div>

                                <div class="row text-center">
                                    <div class="large-4 small-4 medium-4 columns">
                                        <div class="label">Waveform</div>
                                        <webaudio-switch id="oscType1Sine" type="radio" group="oscType1" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType1Triangle" type="radio" group="oscType1" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType1Square" type="radio" group="oscType1" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                    </div>
                                    <div class="large-4 small-4 medium-4 columns">
                                        <div class="label">Waveform</div>
                                        <webaudio-switch id="oscType2Sine" type="radio" group="oscType2" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType2Triangle" type="radio" group="oscType2" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType2Square" type="radio" group="oscType2" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                    </div>
                                    <div class="large-4 small-4 medium-4 columns">
                                        <div class="label">Waveform</div>
                                        <webaudio-switch id="oscType3Sine" type="radio" group="oscType3" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType3Triangle" type="radio" group="oscType3" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                        <webaudio-switch id="oscType3Square" type="radio" group="oscType3" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                    </div>
                                </div>
                            </script>
                        </div>

                    </dd>

                    <dd class="accordion-navigation">
                        <a href="#minimal">Minimal</a>
                        <div id="minimal" class="content active">
                            <script id="minimal_template" type="text/template">
                                <div class="row">
                                    <div class="small-4 medium-4 large-4 columns">
                                        <webaudio-knob id="minimalGain" src="{% static 'img/knob.png' %}"
                                        sprites="100" label="Gain" value="<%= preset.output  %>"
                                        min="0" max="1" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-4 medium-4 large-4 columns">
                                        <webaudio-knob id="minimalTempo" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Tempo" units="bpm" value="<%= preset.tempo  %>" diameter="48"
                                        min="1" max="5000" step="1"></webaudio-knob>
                                    </div>
                                    <div class="small-4 medium-4 large-4 columns"></div>
                                </div>
                                <div class="row">
                                    <div class="small-2 medium-12 large-12 columns">
                                        <div class="label">Amplitude Envelope</div>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="minimalAttack" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Attack" units="s" value="<%= preset.ampAttack %>" diameter="48"
                                        min="0" max="5" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="minimalDecay" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Decay" units="s" value="<%= preset.ampDecay %>" diameter="48"
                                        min="0" max="2.5" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="minimalSustain" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Sustain" value="<%= preset.ampSustain %>" diameter="48"
                                        min="0" max="1" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="minimalRelease" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Release" units="s" value="<%= preset.ampRelease %>" diameter="48"
                                        min="0" max="10" step="0.01"></webaudio-knob>
                                    </div>
                                </div>
                            </script>
                        </div>

                    </dd>

                    <dd class="accordion-navigation">
                        <a href="#sampler">Sampler</a>
                        <div id="sampler" class="content active">
                            <script id="sampler_template" type="text/template">
                                <div class="row knob">
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="samplerGain" src="{% static 'img/knob.png' %}"
                                        sprites="100" label="Gain" value="<%= preset.output  %>"
                                        min="0" max="1" step="0.01"></webaudio-knob>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-2 medium-12 large-12 columns">
                                        <div class="label">Amplitude Envelope</div>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="samplerAttack" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Attack" units="s" value="<%= preset.ampAttack %>" diameter="48"
                                        min="0" max="5" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="samplerDecay" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Decay" units="s" value="<%= preset.ampDecay %>" diameter="48"
                                        min="0" max="2.5" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="samplerSustain" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Sustain" value="<%= preset.ampSustain %>" diameter="48"
                                        min="0" max="1" step="0.01"></webaudio-knob>
                                    </div>
                                    <div class="small-3 medium-3 large-3 columns">
                                        <webaudio-knob id="samplerRelease" src="{% static 'img/knob_small.png' %}"
                                        sprites="100" label="Release" units="s" value="<%= preset.ampRelease %>" diameter="48"
                                        min="0" max="10" step="0.01"></webaudio-knob>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-4 medium-4 large-4 columns text-center">
                                        <div class="label">
                                            Rec Red
                                        </div>
                                        <button class="tiny button fi-record" id="toggleRecording1"></button>
                                    </div>
                                    <div class="small-4 medium-4 large-4 columns text-center">
                                        <div class="label">
                                            Rec Green
                                        </div>
                                        <button class="tiny button fi-record" id="toggleRecording2"></button>
                                    </div>
                                    <div class="small-4 medium-4 large-4 columns text-center">
                                        <div class="label">
                                            Rec Blue
                                        </div>
                                        <button class="tiny button fi-record" id="toggleRecording3"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-12 large-12 columns">
                                        <div class="label">
                                            Input Monitor
                                        </div>
                                        <canvas id="recorderSpectrum" width="280" height="50"></canvas>
                                    </div>
                                </div>

                            </script>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</section>

{% addtoblock "js" %}

{% compress js %}


<!-- vendor -->
<script src="{% static 'pubsub.js/src/pubsub.js' %}"></script>
<script src="{% static 'd3/d3.min.js' %}"></script>

<!-- video analysis -->
<script src="{% static 'js/media.js' %}"></script>
<script src="{% static 'js/video/analyzer.js' %}"></script>
<script src="{% static 'js/video/mapping.js' %}"></script>
<script src="{% static 'js/video/videostats.js' %}"></script>

<!-- synths -->
<script src="{% static 'js/audio/synths/triad.js' %}"></script>
<script src="{% static 'js/audio/synths/SP1.js' %}"></script>

<!-- audio helper -->
<script src="{% static 'js/audio/helpers/recorder.js' %}"></script>
<script src="{% static 'js/audio/helpers/midi.js' %}"></script>

<!-- patches -->
<script src="{% static 'js/audio/patches/triad.js' %}"></script>
<script src="{% static 'js/audio/patches/minimal.js' %}"></script>
<script src="{% static 'js/audio/patches/sampler.js' %}"></script>

<script>
    ID = {{ object.id }};
</script>

<!-- main app -->
<script src="{% static 'js/app.js' %}"></script>

<script>
    // setup info div
    $("#info").removeClass("hide").addClass("show");

    var analyzer, pubsub, handle, bars, scale, average, stream;

    pubsub = PubSub; //give our global signal bus a nice name

    window.addEventListener('DOMContentLoaded', function() {
        media.getStream(function (stream) {
            analyzer = new this.videoanalyzers.VideoAnalyzer({
                vidElem: document.getElementById('video'),
                canvElem: document.getElementById('canvas'),
                statistics: [new this.videostatistics.AverageColor()],
                pubsub: pubsub,
                stream: stream
            });
            $("#info").removeClass("show").addClass("hide");
            $("#controls").removeClass("hide").addClass("show");

            // call resize for video resizing
            resize();

            // start the app
            new app.AppView();
        });

        resize();

        average = d3.select("#average-bars");
        scale = d3.scale.linear().domain([0, 1]).range([0, 300]);
        handle = pubsub.subscribe(
            "/videoanalyzer/averagecolor/raw", function(data){

                // draw color bars
                bars = average.selectAll("div").data(data);
                bars.enter().append("div");
                bars.style("width", function(d) { return scale(d) + "px"; });
                bars.style("background-color", function(d, i) {
                    if (i == 0)
                        return d3.rgb(255,0,0);
                    if (i == 1)
                        return d3.rgb(0,255,0);
                    if (i == 2)
                        return d3.rgb(0,0,255);
                })
                bars.exit().remove();

                // change color of logo and ui
                document.getElementById("logo").style.color = 'rgb(' + [~~(data[0]*255),~~(data[1]*255),~~(data[2]*255)].join(',') + ')';

                var ui = document.getElementsByClassName("content active");
                //ui += document.getElementsByClassName("accordion-navigation");
                [].forEach.call(ui, function (el) {
                    el.style.backgroundColor = 'rgb(' + [~~(data[0]*255),~~(data[1]*255),~~(data[2]*255)].join(',') + ')'
                });


            });


            if (navigator.requestMIDIAccess)
                navigator.requestMIDIAccess().then( onMIDIStarted, onMIDISystemError );
});



$(window).resize(function() {
    resize();
});


function resize() {
    console.log("resize");
    // adapt video size to display
    var vw = $(window).width();
    var vh = $(window).height();

    var iw = 640;
    var ih = 480; // TODO

    if (iw / ih < vw / vh) {
        var d1 = 100 * ((ih * (vw / iw)) / vh);
        $("#video").css("height", d1+"%");
        $("#video").css("width", "100%");
        $("#video").css("top", (100-d1)/2+"%");
    } else {
        var d2 = 100 * ((iw * (vh / ih)) / vw);
        $("#video").css("height", "100%");
        $("#video").css("width", d2+"%");
        $("#video").css("left", (100-d2)/2+"%");
    }
};

</script>



{% endcompress %}

{% endaddtoblock %}


{% endblock %}
