{% extends 'base.html' %}
{% block main %}

<div id="main" class="container">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row">
                <input id="synth" type="hidden" value="synth-01" />
                <div id="s01-slider-freq"></div>
                <p>
                    <label for="s01-slider-freq-v">freq</label>
                    <input type="text" id="s01-slider-freq-v" value="" style="width: 33px;">
                </p>
            </div>
            <div class="row">
                <p>
                    <button type="submit" id="btn-save" class="btn btn-success btn-lg">
                        Save
                    </button>
                </p>

                <div id="dialog" class="">
                    <p>Saved!</p>
                    <p>Url is: ........</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}