<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>synestizer</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <!-- foundation style -->
    <link rel="stylesheet" href="./bower_components/foundation/css/foundation.css">

    <!-- synestizer style -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <div id="wrapper">
      <section id="app">

          <canvas id="canvas"></canvas>

          <video id="video" muted autoplay></video>

          <h1 id="logo">SYNESTIZER BETA</h1>

          <div class="row full">

              <div id="info" class="large-12 large-centered columns hide text-center">
                  <h1 class="info-title">
                      Welcome to Synestizer.
                  </h1>

                  <p class="info-text">
                      Please enable your webcam in the browser and activate your loudspeakers.<br />
                      This app requires an updated version of <a href="http://www.google.com/chrome/">chrome</a> or <a href="http://www.opera.com">opera</a> browser.<br />
                      Firefox will be supported in the future.<br />
                      Safari/iOS is not supported.<br />
                      <a href="#" data-reveal-id="faq">F.A.Q.</a>
                  </p>
              </div>


              <div id="controls" class="hide">
                  <div class="sidebar large-3 small-3 medium-3 columns left">

                      <div id="patch">
                          <script id="patch_template" type="text/template">
                              <!--<div>Patch: <%= uuid %></div>-->
                              <ul class="button-group" style="height: 45px; padding-left: 2px;">
                                  <li><a href="#" id="fullscreen" class="button tiny fi-arrows-out"></a></li>
                                  <!--<li><a href="#" id="switchDevices" class="button tiny" title="Switch cam!"><i class="fi-video"></i></a></li>-->
                                  <li><a href="#" data-reveal-id="faq" class="button tiny"><i class="fi-info"></i></a></li>
                              </ul>
                          </script>
                      </div>

                      <div id="faq" class="reveal-modal large" data-reveal>
                          {% include "faq.html" %}
                      </div>


                      <dl class="accordion" data-accordion>
                          <dd class="accordion-navigation">
                              <a href="#rgb-panel">RGB</a>
                              <div id="rgb-panel" class="content active">
                                  <div id="average-bars"></div>
                              </div>
                          </dd>
                      </dl>
                  </div>

                  <div class="sidebar large-3 medium-3 small-5 columns">
                      <!-- SYNTHS -->
                      <dl class="accordion scrollable_accordion" data-accordion>
                          <dd class="accordion-navigation">

                              <a href="#triad">Triad</a>

                              <div id="triad" class="content active">

                                  <script id="triad_template" type="text/template">

                                      <div class="row">
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="gain" src="{% static 'img/knob.png' %}"
                                              sprites="100" label="Gain" value="<%= preset.output  %>"
                                              min="0" max="1" step="0.01"></webaudio-knob>
                                          </div>
                                      </div>

                                      <div class="row text-center">
                                          <div class="large-4 small-4 medium-4 columns text-center">
                                              <webaudio-knob id="freq1Knob" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Freq Red" units=" Hz" value="<%= preset.oscFreq1 %>"
                                              min="<%= synth.oscFreq1Min %>" max="<%= synth.oscFreq1Max %>" diameter="48"
                                              step="1"></webaudio-knob>
                                              <input id="freq1Numberbox" type="number" value="<%= preset.oscFreq1 %>" min="<%= synth.oscFreq1Min %>" max="<%= synth.oscFreq1Max %>" />
                                          </div>
                                          <div class="large-4 small-4 medium-4 columns">
                                              <webaudio-knob id="freq2Knob" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Freq Green" units=" Hz" value="<%= preset.oscFreq2 %>"
                                              min="<%= synth.oscFreq2Min %>" max="<%= synth.oscFreq2Max %>" diameter="48"
                                              step="1"></webaudio-knob>
                                              <input id="freq2Numberbox" type="number" value="<%= preset.oscFreq2 %>" min="<%= synth.oscFreq2Min %>" max="<%= synth.oscFreq2Max %>" />
                                          </div>
                                          <div class="large-4 small-4 medium-4 columns">
                                              <webaudio-knob id="freq3Knob" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Freq Blue" units=" Hz" value="<%= preset.oscFreq3 %>"
                                              min="<%= synth.oscFreq3Min %>" max="<%= synth.oscFreq3Max %>" diameter="48"
                                              step="1"></webaudio-knob>
                                              <input id="freq3Numberbox" type="number" value="<%= preset.oscFreq3 %>" min="<%= synth.oscFreq3Min %>" max="<%= synth.oscFreq3Max %>" />
                                          </div>



                                      </div>

                                      <div class="row text-center">
                                          <div class="large-4 small-4 medium-4 columns">
                                              <div class="label">Waveform</div>
                                              <webaudio-switch id="oscType1Sine" type="radio" group="oscType1" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType1Triangle" type="radio" group="oscType1" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType1Square" type="radio" group="oscType1" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                          </div>
                                          <div class="large-4 small-4 medium-4 columns">
                                              <div class="label">Waveform</div>
                                              <webaudio-switch id="oscType2Sine" type="radio" group="oscType2" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType2Triangle" type="radio" group="oscType2" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType2Square" type="radio" group="oscType2" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                          </div>
                                          <div class="large-4 small-4 medium-4 columns">
                                              <div class="label">Waveform</div>
                                              <webaudio-switch id="oscType3Sine" type="radio" group="oscType3" label="Osc Type" units=" Hz" value="1" width="20" height="20" src="{% static 'img/switch_sinewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType3Triangle" type="radio" group="oscType3" label="Osc Type"units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_trianglewave.png' %}"></webaudio-switch>
                                              <webaudio-switch id="oscType3Square" type="radio" group="oscType3" label="Osc Type" units=" Hz" value="0" width="20" height="20" src="{% static 'img/switch_squarewave.png' %}"></webaudio-switch>
                                          </div>
                                      </div>
                                  </script>
                              </div>

                          </dd>

                          <dd class="accordion-navigation">
                              <a href="#minimal">Minimal</a>
                              <div id="minimal" class="content active">
                                  <script id="minimal_template" type="text/template">
                                      <div class="row">
                                          <div class="small-4 medium-4 large-4 columns">
                                              <webaudio-knob id="gain" src="{% static 'img/knob.png' %}"
                                              sprites="100" label="Gain" value="<%= preset.output  %>"
                                              min="0" max="1" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-4 medium-4 large-4 columns">
                                              <webaudio-knob id="tempo" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Tempo" units="bpm" value="<%= preset.tempo  %>" diameter="48"
                                              min="1" max="5000" step="1"></webaudio-knob>
                                          </div>
                                          <div class="small-4 medium-4 large-4 columns"></div>
                                      </div>
                                      <div class="row">
                                          <div class="small-2 medium-12 large-12 columns">
                                              <div class="label">Amplitude Envelope</div>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="attack" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Attack" units="s" value="<%= preset.ampAttack %>" diameter="48"
                                              min="0" max="5" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="decay" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Decay" units="s" value="<%= preset.ampDecay %>" diameter="48"
                                              min="0" max="2.5" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="sustain" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Sustain" value="<%= preset.ampSustain %>" diameter="48"
                                              min="0" max="1" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="release" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Release" units="s" value="<%= preset.ampRelease %>" diameter="48"
                                              min="0" max="10" step="0.01"></webaudio-knob>
                                          </div>
                                      </div>
                                  </script>
                              </div>

                          </dd>

                          <dd class="accordion-navigation">
                              <a href="#sampler">Sampler</a>
                              <div id="sampler" class="content active">
                                  <script id="sampler_template" type="text/template">
                                      <div class="row knob">
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="gain" src="{% static 'img/knob.png' %}"
                                              sprites="100" label="Gain" value="<%= preset.output  %>"
                                              min="0" max="1" step="0.01"></webaudio-knob>
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="small-2 medium-12 large-12 columns">
                                              <div class="label">Amplitude Envelope</div>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="attack" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Attack" units="s" value="<%= preset.ampAttack %>" diameter="48"
                                              min="0" max="5" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="decay" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Decay" units="s" value="<%= preset.ampDecay %>" diameter="48"
                                              min="0" max="2.5" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="sustain" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Sustain" value="<%= preset.ampSustain %>" diameter="48"
                                              min="0" max="1" step="0.01"></webaudio-knob>
                                          </div>
                                          <div class="small-3 medium-3 large-3 columns">
                                              <webaudio-knob id="release" src="{% static 'img/knob_small.png' %}"
                                              sprites="100" label="Release" units="s" value="<%= preset.ampRelease %>" diameter="48"
                                              min="0" max="10" step="0.01"></webaudio-knob>
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="small-4 medium-4 large-4 columns text-center">
                                              <div class="label">
                                                  Rec Red
                                              </div>
                                              <button class="tiny button fi-record" id="toggleRecording1"></button>
                                          </div>
                                          <div class="small-4 medium-4 large-4 columns text-center">
                                              <div class="label">
                                                  Rec Green
                                              </div>
                                              <button class="tiny button fi-record" id="toggleRecording2"></button>
                                          </div>
                                          <div class="small-4 medium-4 large-4 columns text-center">
                                              <div class="label">
                                                  Rec Blue
                                              </div>
                                              <button class="tiny button fi-record" id="toggleRecording3"></button>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="small-12 medium-12 large-12 columns">
                                              <div class="label">
                                                  Input Monitor
                                              </div>
                                              <canvas id="recorderSpectrum" width="280" height="50"></canvas>
                                          </div>
                                      </div>

                                  </script>
                              </div>
                          </dd>
                      </dl>
                  </div>
              </div>
          </div>
      </section>

        <!-- Footer -->
        <div id="footer">
            <div class="footer_content">
                &copy; 2015 by <a href="http://www.kasparkoenig.com/">kaspar</a>,
                <a href="https://www.livingthing.org">dan</a> &amp;
                <a href="http://www.stahlnow.com">stahl</a>.
                This work is licensed under a <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                Commons Attribution-ShareAlike 4.0 International License</a>.</p>
            </div>
        </div>
    </div>
    <!-- foundation js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/foundation/js/foundation.min.js"></script>
    <script src="./bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script>
        // init foundation
        $(document).foundation({
            accordion: {
                // specify the class used for accordion panels
                content_class: 'content',
                // specify the class used for active (or open) accordion panels
                active_class: 'active',
                // allow multiple accordion panels to be active at the same time
                multi_expand: true,
                // allow accordion panels to be closed by clicking on their headers
                // setting to false only closes accordion panels when another is opened
                toggleable: true
            }
        });

        // Set max-height the first time
        $(document).ready(function() {
            $('.reveal-modal').css('max-height', $('html').height() - 10 + 'px'); // 100 +10px to keep modal effect visible
        });

        // Reset max-height after window resize
        $(window).resize(function() {
            $('.reveal-modal').css('max-height', $('html').height() - 10 + 'px');
        });

        // sticky footer
        $(window).bind("load", function () {
            var footer = $("#footer");
            var pos = footer.position();
            var height = $(window).height();
            height = height - pos.top;
            height = height - footer.height();
            if (height > 0) {
                footer.animate({
                    'margin-top': height + 'px'
                });
            }
        });
    </script>
    <!-- ACTIVATE GOOGLE SPYWARE -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59122990-1', 'auto');
        ga('send', 'pageview');
    </script>


    <!-- include backbone.js -->
    <script src="./bower_components/underscore/underscore-min.js"></script>
    <script src="./bower_components/backbone/backbone.js"></script>

    <!-- include WAAX -->
    <script src="./js/vendor/waax.js"></script>

    <!-- web components -->
    <script src="./bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="./bower_components/polymer/polymer.html">

    <link rel="import" href="./webcomponents/controls.html">

    <script src="./bower_components/pubsub.js/src/pubsub.js"></script>
    <script src="./bower_components/d3/d3.min.js"></script>

    <!-- video analysis -->
    <script src="./js/media.js"></script>
    <script src="./js/video/analyzer.js"></script>
    <script src="./js/video/mapping.js"></script>
    <script src="./js/video/videostats.js"></script>

    <!-- synths -->
    <script src="./js/audio/patches/minimal.js"></script>
    <script src="./js/audio/patches/triad.js"></script>
    <script src="./js/audio/synths/SP1.js"></script>
    <script src="./js/audio/synths/triad.js"></script>

    <!-- audio helper -->
    <script src="./js/audio/helpers/recorder.js"></script>

    <!-- preset saving/loading -->
    <script src="./js/app.js"></script>

    <script>
        "use strict";
        var analyzer;
        var pubsub;
        var averageRawHandle, averageDeltaHandle;
        var covarianceRawHandle, covarianceDeltaHandle;
        var barScale, colorScale;
        var averageRawDom, covarianceRawDom, covarianceDeltaDom, uiDom, logoDom;

        pubsub = PubSub; //give our global signal bus a nice name

        window.addEventListener('DOMContentLoaded', function() {
            // setup info div
            $("#info").removeClass("hide").addClass("show");
            
            media.getStream(
                function (stream) {
                    analyzer = new videoanalyzers.VideoAnalyzer({
                        vidElem: document.getElementById('video'),
                        canvElem: document.getElementById('canvas'),
                        statistics: [
                            new videostatistics.AverageColor(),
                            new videostatistics.Covariance()
                        ],
                        pubsub: pubsub,
                        stream: stream
                    });
                    $("#info").removeClass("show").addClass("hide");
                    $("#controls").removeClass("hide").addClass("show");
                }
            );

            averageRawDom = d3.select("#average-raw-bars");
            covarianceRawDom = d3.select("#covariance-raw-bars");
            covarianceDeltaDom = d3.select("#covariance-delta-bars");
            logoDom = d3.select("#logo");
            uiDom = d3.selectAll(".content.active");
            barScale = d3.scale.linear().domain([0, 1]).range([0, 300]);
            colorScale = d3.scale.linear().domain([0, 1]).rangeRound([0, 255]);
            averageRawHandle = pubsub.subscribe(
                "/videoanalyzer/averagecolor/raw", function(data){
                    var paramColor, bars;
                    // draw param bars
                    bars = averageRawDom.selectAll("div").data(data);
                    bars.enter().append("div");
                    bars.style("width", function(d) {
                        return barScale(d) + "px"; });
                    bars.style("background-color", function(d, i) {
                        if (i == 0)
                            return d3.rgb(255,0,0);
                        if (i == 1)
                            return d3.rgb(0,255,0);
                        if (i == 2)
                            return d3.rgb(0,0,255);
                    });
                    bars.exit().remove();
                    
                    paramColor = d3.rgb(
                        colorScale(data[0]),
                        colorScale(data[1]),
                        colorScale(data[2])
                    );
                    // change color of logo and ui
                    logoDom.style("color", paramColor);
                    uiDom.style("color", paramColor);
            });
        });
        covarianceRawHandle = pubsub.subscribe(
            "/videoanalyzer/covariance/raw", function(data){
                var paramColor, bars;
                // draw param bars
                bars = covarianceRawDom.selectAll("div").data(data);
                bars.enter().append("div");
                bars.style("width", function(d) {
                    return barScale(d) + "px"; });
                bars.exit().remove();
        });
        covarianceDeltaHandle = pubsub.subscribe(
            "/videoanalyzer/covariance/delta", function(data){
                var paramColor, bars;
                // draw param bars
                bars = covarianceDeltaDom.selectAll("div").data(data);
                bars.enter().append("div");
                bars.style("width", function(d) {
                    return barScale(d) + "px"; });
                bars.exit().remove();
        });
    </script>

    <script>
        // setup info div
        $("#info").removeClass("hide").addClass("show");

        var analyzer, pubsub, handle, bars, scale, average, stream;

        pubsub = PubSub; //give our global signal bus a nice name

        window.addEventListener('DOMContentLoaded', function() {
            media.getStream(function (stream) {
                analyzer = new this.videoanalyzers.VideoAnalyzer({
                    vidElem: document.getElementById('video'),
                    canvElem: document.getElementById('canvas'),
                    statistics: [new this.videostatistics.AverageColor()],
                    pubsub: pubsub,
                    stream: stream
                });
                $("#info").removeClass("show").addClass("hide");
                $("#controls").removeClass("hide").addClass("show");

                // call resize for video resizing
                resize();

                // start the app
                new app.AppView();
            });

            resize();

            average = d3.select("#average-bars");
            scale = d3.scale.linear().domain([0, 1]).range([0, 300]);
            handle = pubsub.subscribe(
                "/videoanalyzer/averagecolor/raw", function(data){

                    // draw color bars
                    bars = average.selectAll("div").data(data);
                    bars.enter().append("div");
                    bars.style("width", function(d) { return scale(d) + "px"; });
                    bars.style("background-color", function(d, i) {
                        if (i == 0)
                            return d3.rgb(255,0,0);
                        if (i == 1)
                            return d3.rgb(0,255,0);
                        if (i == 2)
                            return d3.rgb(0,0,255);
                    })
                    bars.exit().remove();

                    // change color of logo and ui
                    document.getElementById("logo").style.color = 'rgb(' + [~~(data[0]*255),~~(data[1]*255),~~(data[2]*255)].join(',') + ')';

                    var ui = document.getElementsByClassName("content active");
                    //ui += document.getElementsByClassName("accordion-navigation");
                    [].forEach.call(ui, function (el) {
                        el.style.backgroundColor = 'rgb(' + [~~(data[0]*255),~~(data[1]*255),~~(data[2]*255)].join(',') + ')'
                    });


                });
    });



    $(window).resize(function() {
        resize();
    });


    function resize() {
        console.log("resize");
        // adapt video size to display
        var vw = $(window).width();
        var vh = $(window).height();

        var iw = 640;
        var ih = 480; // TODO

        if (iw / ih < vw / vh) {
            var d1 = 100 * ((ih * (vw / iw)) / vh);
            $("#video").css("height", d1+"%");
            $("#video").css("width", "100%");
            $("#video").css("top", (100-d1)/2+"%");
        } else {
            var d2 = 100 * ((iw * (vh / ih)) / vw);
            $("#video").css("height", "100%");
            $("#video").css("width", d2+"%");
            $("#video").css("left", (100-d2)/2+"%");
        }
    };

    </script>


</body>
</html>