{% load static %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load compress %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>synestizer</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <!-- foundation -->
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/foundation-icons.css' %}">
    <!-- synestizer style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% render_block "css" %}


</head>

<body>

    <div id="wrapper">

        {% block main %}{% endblock %}

        <!-- Footer -->
        <div id="footer">
            <div class="footer_content">
                &copy; {% now "Y" %} by <a href="http://www.kasparkoenig.com/">kaspar</a>,
                <a href="http://www.livingthing.org">dan</a> &amp;
                <a href="http://www.stahlnow.com">stahl</a>.
                This work is licensed under a <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                Commons Attribution-ShareAlike 4.0 International License</a>.</p>
            </div>
        </div>
    </div>


    {% compress js %}

    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>

    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>

    <script>var STATIC_URL = '{{ STATIC_URL|escapejs }}';</script>

    <script>
        // init foundation
        $(document).foundation({
            accordion: {
                // specify the class used for accordion panels
                content_class: 'content',
                // specify the class used for active (or open) accordion panels
                active_class: 'active',
                // allow multiple accordion panels to be active at the same time
                multi_expand: true,
                // allow accordion panels to be closed by clicking on their headers
                // setting to false only closes accordion panels when another is opened
                toggleable: true
            }
        });

        // Set max-height the first time
        $(document).ready(function() {
            $('.reveal-modal').css('max-height', $('html').height() - 10 + 'px'); // 100 +10px to keep modal effect visible
        });

        // Reset max-height after window resize
        $(window).resize(function() {
            $('.reveal-modal').css('max-height', $('html').height() - 10 + 'px');
        });

        // sticky footer
        $(window).bind("load", function () {
            var footer = $("#footer");
            var pos = footer.position();
            var height = $(window).height();
            height = height - pos.top;
            height = height - footer.height();
            if (height > 0) {
                footer.animate({
                    'margin-top': height + 'px'
                });
            }
        });
    </script>


    <!-- web components -->
    <script src="{% static 'webcomponentsjs/webcomponents.min.js' %}"></script>
    <script src="{% static 'polymer/polymer.min.js' %}"></script>

    <!-- include backbone.js -->
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="{% static 'backbone/backbone.js' %}"></script>

    <!-- include WAAX -->
    <script src="{% static 'js/vendor/waax.js' %}"></script>

    {% endcompress %}

    <link rel="import" href="{% static 'webcomponents/controls.html' %}">

    {% render_block "js" %}

</body>
</html>